@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
/* GOOGLE FONT URL */

/* background img */
html{
  background-image: url('./Images/background.png');
  width:100%;
  min-height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}

/* header text */
.name h1{
  font-size: 70px;
  text-align: center;
  color: white;
  text-shadow: 7px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-family: 'Playfair Display', serif;
}

/*
volatility stop loss long CSS
*/

.VSL h1{
  font-size: 40px;
  text-align: center;
  color: rgb(25, 186, 10);
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  margin-top: 100px;
  font-family: 'Playfair Display', serif;
}


/* TODO: webpage sizing */
@media(max-width:1190px){
	
}