@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
/* GOOGLE FONT URL */

/*
TODO: 
- REMOVE ALL CSS THAT YOU WROTE WITH POSITIONING
- MAKE VL LONG 10% FROM LEFT
- MAKE VL SHORT 10% FROM RIGHT
*/

/* background img */
html{
  background-image: url('./Images/background.png');
  width:100%;
  min-height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}

/* side by side first page */

.inline-block-child{
  display: inline-block;
}

/* header text */
.name h1{
  font-size: 50px;
  text-align: center;
  position: relative;
  color: white;
  text-shadow: 7px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-family: 'Playfair Display', serif;
}

/*
volatility stop loss long CSS
*/

.VSL h1{
  font-size: 40px;
  position: relative;
  left: 40%;
  color: rgb(25, 186, 10);
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  margin-top: 8%;
  font-family: 'Playfair Display', serif;
}

.VSLS h1{
  font-size: 40px;
  position: relative;
  left: 80%;
  color: rgb(255, 0, 0);
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  margin-top: 8%;
  font-family: 'Playfair Display', serif;

}


/*
user input background
*/
.inputFormVSLL{
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 200px;
  box-sizing: border-box;
  padding: 30px 25px;
  background: rgba(0, 96, 255, 0.5);

  border-radius: 40px;
  left: -10%;
}

.inputFormVSLS{
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 200px;
  box-sizing: border-box;
  padding: 30px 25px;
  background: rgba(0, 96, 255, 0.5);

  border-radius: 40px;
  left: 20%;
}

/*
text boxs in user input
*/

.textBox {
  position: relative;
  padding: 10px 0;
}

input {
  appearance: none;
  background-color: none;
  border: 1px solid rgb(2, 88, 8);
  line-height: 0;
  font-size: 25px;
  width: 200px;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: rgb(0, 0, 0);
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}
input:focus { 
  outline: none;
  background: transparent;
  color: rgb(255, 255, 255);
  margin-top: 20px;

}

label {
  margin-left: 20%;
  font-family: 'Roboto';
  font-size: 17px;
  color: white;
}

/* 
container for aligning components side by side (input + results)

FIX:
- sizing, it is currently away from the left, which when you make it a smaller browser it looks
weird
*/

.containerVSLL{
  display:flex;
  flex-direction: row;
  position: absolute;
  text-align: center;
  left: 10%;
}

.containerVSLS{
  display:flex;
  flex-direction: row;
  position: absolute;
  text-align: center;
  left: 50%;
}

/*
result form css
*/

.resultFormVSLL{
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 300px;
  height: 450px;
  box-sizing: border-box;
  padding: 30px 25px;
  background: rgba(38, 255, 0, 0.5);

  border-radius: 40px;
  left: 5%;
}

.resultFormTextVSLL{
  background:rgb(255, 255, 255);
  border: 1px solid rgb(2, 88, 8);
  line-height: .5;
  width: 250px;
  display: block;
  box-sizing: border-box;
  padding: 10px 25px;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  box-sizing: border-box;
}

.resultFormVSLS{
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 300px;
  height: 450px;
  box-sizing: border-box;
  padding: 30px 25px;
  background: rgba(255, 70, 70, 0.5);

  border-radius: 40px;
  left: 30%;
}

.resultFormTextVSLS{
  background:rgb(255, 255, 255);
  border: 1px solid rgb(2, 88, 8);
  line-height: .5;
  width: 250px;
  display: block;
  box-sizing: border-box;
  padding: 10px 25px;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  box-sizing: border-box;
}

/*------------------------------*/



/* TODO: webpage sizing */
@media(max-width:1190px){
	
}